* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
}
.container {
  width: 400px;
  max-width: 100%;
}
.btn-success{
  padding: 5px 20px;
}
.btn-primary{
padding: 5px 30px;
}
.btn-danger{
  padding: 5px 30px;
}